
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>クラスタリング結果可視化ページ</title>
    <script type="text/javascript" src="{% static 'chatapp/js/clusterResult.js' %}"></script>
  </head>
  <body>
    <h1>クラスタリング結果可視化ページ</h1>
    <p>ライブ配信中のコメント欄のみ取得できます。通常の動画や、ライブ配信のアーカイブでは動作しません。</p>
    <p>本番用ページは<a href="{% url 'chat' %}">こちら</a></p>
    <form>
      
      <label style="display: none;" for="apikey">[APIキーはプログラム内に入力しないでOK]Youtube API Key = </label>
      <input style="display: none;" id="apikey" type="text">
      <br>
      <label for="youtubeurl">ライブ配信のURL末尾 https://www.youtube.com/watch?v=</label>
      <input id="youtubeurl" type="text">
      <br>
      <button type="button" onclick="getchatapi()">コメント取得</button>
    </form>
    
    </ul>
  </body>
</html>
